<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout_v1 :: layout_v1(_,~{::link},~{::div},~{::script})">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" th:href="@{/static/AdminLTE-2.3.11/plugins/datepicker/datepicker3.css}">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>用户修改</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 系统管理</a></li>
                <li class="active">用户修改</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">用户修改</h3>
                        </div>
                        <form role="form" action="" method="post" enctype="multipart/form-data">
                            <div class="box-body">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="username">用户名</label>
                                        <input type="text" class="form-control" id="username" name="username"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="username">中文名</label>
                                        <input type="text" class="form-control" id="userNameCn" name="userNameCn"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="username">英文名</label>
                                        <input type="text" class="form-control" id="userNameEn" name="userNameEn"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="password">密码</label>
                                        <input type="password" class="form-control" id="password" name="password" value="123"/>
                                    </div>
                                    <div class="form-group">
                                        <label>用户是否可用</label>
                                        <select class="form-control" style="width: 100%;">
                                            <option value="1" selected="selected">是</option>
                                            <option value="0">否</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>创建日期:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right datepicker" id="createDate" name="createDate">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>修改日期:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right datepicker" id="updateDate" name="updateDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="remarks">备注</label>
                                        <textarea rows="5" cols="10" class="form-control" id="remarks" name="remarks"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary pull-right">提 交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- bootstrap datepicker -->
    <script th:src="@{/static/AdminLTE-2.3.11/plugins/datepicker/bootstrap-datepicker.js}"></script>
    <!-- bootstrap datepicker zh-CN-->
    <script th:src="@{/static/AdminLTE-2.3.11/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js}"></script>
    <script type="text/javascript">
        $(function () {
            // 初始化datepicker
            $(".datepicker").datepicker({
                startDate: '-d',// 设置开始时间为当前日期
                format:'yyyy/mm/dd',
                language: 'zh-CN',
                todayHighlight:true,
                autoclose: true
            });
        });
    </script>
</html>