<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout_v1 :: layout_v1(_,~{::link},~{::div},~{::script})">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" th:href="@{/static/AdminLTE-2.3.11/plugins/datepicker/datepicker3.css}"/>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>编辑图像</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 系统管理</a></li>
                <li class="active">编辑图像</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">编辑图像</h3>
                        </div>
                        <form role="form" th:action="@{/api/user/}" method="post" id="addForm" enctype="multipart/form-data" >
                            <div class="box-body box-profile">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <img class="profile-user-img img-responsive img-circle" th:src="@{/static/AdminLTE-2.3.11/dist/img/user2-160x160.jpg}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="button" class="btn btn-primary pull-right" id="btn_add">保 存</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- bootstrap datepicker -->
    <script th:src="@{/static/AdminLTE-2.3.11/plugins/datepicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{/static/AdminLTE-2.3.11/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js}"></script>
    <!-- jquery validation -->
    <script th:src="@{/static/AdminLTE-2.3.11/plugins/jquery-validation/jquery.validate.js}"></script>
    <script th:src="@{/static/AdminLTE-2.3.11/plugins/jquery-validation/additional-methods.js}"></script>
    <!-- layer -->
    <script th:src="@{/static/AdminLTE-2.3.11/plugins/layer/layer.js}"></script>
    <!-- 自定义JS-->
    <script th:src="@{/static/system/user/user_add.js}"></script>
</html>