<!DOCTYPE html>
<html lang="en" th:replace="layout/layout_v1 :: layout_v1(~{::title},_,~{::div},_)">
    <title>主页</title>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>系统信息</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                <li class="active">系统信息</li>
            </ol>
        </section>
        <section class="invoice">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>服务器地址:</th>
                                <td th:text="${#request.getServerName()}"></td>
                            </tr>
                            <tr>
                                <th>服务器端口:</th>
                                <td th:text="${#request.getServerPort()}"></td>
                            </tr>
                            <tr>
                                <th>项目名称:</th>
                                <td th:text="${#request.getContextPath()}"></td>
                            </tr>
                            <tr>
                                <th>项目所在服务器的全路径:</th>
                                <td th:text="${#request.getRealPath('/')}"></td>
                            </tr>
                            <tr>
                                <th>本地地址:</th>
                                <td th:text="${#request.getLocalAddr()}"></td>
                            </tr>
                            <tr>
                                <th>本地IP映射名:</th>
                                <td th:text="${#request.getLocalName()}"></td>
                            </tr>
                            <tr>
                                <th>本地端口:</th>
                                <td th:text="${#request.getLocalPort()}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</html>