<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="modal_v1(title,links,content,scripts)">
    <head>
        <title th:replace="${title}">自定义Modal模板</title>
        <!-- 常用CSS -->
        <link rel="shortcut icon" href="" showDefaultImage="true" icon="true" type="image/x-icon"/>
        <link rel="stylesheet" th:href="@{/static/AdminLTE-2.3.11/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" th:href="@{/static/AdminLTE-2.3.11/dist/css/AdminLTE.min.css}">
        <link rel="stylesheet" th:href="@{/static/AdminLTE-2.3.11/dist/css/skins/_all-skins.min.css}">
        <!-- 其他CSS -->
        <th:block th:replace="${links}" />
    </head>
    <body>
        <!-- 各个模块要显示的内容 -->
        <div th:replace="${content}">

        </div>
        <!-- 常用JS -->
        <script th:src="@{/static/AdminLTE-2.3.11/plugins/jQuery/jquery-2.2.3.min.js}"></script>
        <script th:src="@{/static/AdminLTE-2.3.11/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/static/AdminLTE-2.3.11/dist/js/app.min.js}"></script>
        <!-- 其他JS -->
        <th:block th:replace="${scripts}" />
    </body>
</html>