<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout_v1 :: layout_v1(_,~{::link},~{::div},~{::script})">
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/static/AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.css}">
    <style type="text/css">
        #topPlugin {
            float: left;
            margin-left: 10px;
        }
    </style>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>菜单查询</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 系统管理</a></li>
                <li class="active">菜单查询</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-search"></i>
                            <h3 class="box-title">菜单查询</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-primary btn-sm" id="addOne"><i class="fa fa-plus"></i> 新增</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row" style="margin-bottom: 20px;">
                                <form method="post">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="menuName" name="menuName" placeholder="菜单名称">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <select class="form-control" id="show" name="show">
                                                <option value="">--请选择菜单是否显示--</option>
                                                <option value="1">显示</option>
                                                <option value="0">不显示</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-sm btn-success" id="search"><i class="fa fa-search"></i> 查询</button>
                                            <button type="button" class="btn btn-sm btn-primary" id="reset"><i class="fa fa-refresh"></i> 重置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <table id="dataTable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>父级编号</th>
                                        <th>菜单名称</th>
                                        <th>URL</th>
                                        <th>图标</th>
                                        <th>排序</th>
                                        <th>是否显示</th>
                                        <th>备注</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--单个删除确认对话框-->
    <div class="modal fade" id="deleteOneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form class="form-horizontal" role="form">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">提示信息</h4>
                    </div>
                    <div class="modal-body" style="text-align: left;">
                        <h5>您确定要删除当前信息吗？</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-sm btn-primary" id="delSubmit">确认</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- DataTables -->
    <script th:src="@{/static/AdminLTE-2.3.11/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.min.js}"></script>
    <!-- layer -->
    <script th:src="@{/static/AdminLTE-2.3.11/plugins/layer/layer.js}"></script>
    <!-- 自定义JS-->
    <script th:src="@{/static/system/menu/menu.js}"></script>
</html>