<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.white.mapper.SysMenuMapper">

    <sql id="selectColumns">
      SELECT DISTINCT
            sm.id,
            sm.parent_id,
            sm.parent_ids,
            sm.menuName,
            sm.href,
            sm.icon,
            sm.sort,
            sm.show,
            sm.permission,
            sm.remarks
        FROM sys_menu sm
    </sql>

    <!-- 通过userId获取用户的菜单列表 -->
    <select id="getMenusByUserId" resultType="com.white.entity.system.SysMenu">
        <include refid="selectColumns"/>
        JOIN sys_role_menu srm ON srm.menu_id = sm.id
        JOIN sys_role sr ON sr.id = srm.role_id
        JOIN sys_user_role sur ON sur.role_id = sr.id
        JOIN sys_user su ON su.id = sur.user_id
        WHERE su.id = #{userId}
    </select>

    <!-- 获取所有的菜单列表 -->
    <select id="getAllMenus" resultType="com.white.entity.system.SysMenu">
        <include refid="selectColumns"/> WHERE sm.del_flag = '0'
    </select>

    <!-- 分页查询菜单信息 -->
    <select id="findList" resultType="com.white.entity.system.SysMenu">
        <include refid="selectColumns"/>
        WHERE sm.del_flag = '0'
        <if test="menuName != null and menuName != ''">
            AND sm.menuName = #{menuName}
        </if>
        <if test="show != null">
            AND sm.show = #{show}
        </if>
    </select>

    <!-- 获取所有的父级菜单 -->
    <select id="getParentMenu" resultType="com.white.entity.system.SysMenu">
        <include refid="selectColumns"/>
        WHERE sm.parent_id = ''
    </select>

    <!-- 通过parentId获取其子级菜单 -->
    <select id="getChildMenuByParentId" resultType="com.white.entity.system.SysMenu">
        <include refid="selectColumns"/>
        WHERE sm.parent_id = #{parentId}
    </select>

    <!-- 批量删除菜单 -->
    <select id="deleteMenu" parameterType="java.lang.String" resultType="Integer">
        DELETE FROM sys_menu WHERE id IN
        <foreach collection="array" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 添加一个菜单 -->
    <insert id="insert">
        INSERT INTO sys_menu
            (
                id,
                parent_id,
                menuName,
                href,
                icon,
                sort,
                is_show,
                remarks
            ) VALUES (
                #{id},
                #{parentId},
                #{menuName},
                #{href},
                #{icon},
                #{sort},
                #{isShow},
                #{remarks}
            )
    </insert>

    <!-- 通过Id获取菜单 -->
    <select id="get" resultType="com.white.entity.system.SysMenu">
        <include refid="selectColumns"/>
        WHERE a.id = #{id}
    </select>

    <!-- 编辑菜单 -->
    <update id="update">
        UPDATE sys_menu
        <set>
            parent_id = #{parentId},
            menuName = #{menuName},
            href = #{href},
            icon = #{icon},
            sort = #{sort},
            is_show = #{isShow},
            remarks = #{remarks}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除菜单 -->
    <update id="deleteById">
        UPDATE sys_menu
        SET del_flag = '1'
        WHERE id = #{id}
    </update>

</mapper>
