<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.white.mapper.SysRoleMapper">

    <sql id="selectColumns">
        SELECT
        sr.id,
        sr.roleName,
        sr.enabled,
        sr.remarks
        FROM sys_role sr
    </sql>

    <!-- 根据登录名获取用户 -->
    <select id="getRolesByUserId" resultType="com.white.entity.system.SysRole">
        <include refid="selectColumns" />
        LEFT JOIN sys_user_role sur ON sr.id = sur.role_id
        WHERE sur.user_id = #{userId}
    </select>

    <!-- 分页查询菜单信息 -->
    <select id="findList" resultType="com.white.entity.system.SysRole">
        <include refid="selectColumns"/>
        WHERE 1 = 1
        <if test="roleName != null and roleName != ''">
            AND sr.roleName = #{roleName}
        </if>
        <if test="enabled != null">
            AND sr.enabled = #{enabled}
        </if>
    </select>

</mapper>
