<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.white.mapper.SysRoleMapper">

    <sql id="selectColumns">
        SELECT
        sr.id,
        sr.roleName,
        sr.enabled,
        sr.create_date,
        sr.update_date,
        sr.remarks
        FROM sys_role sr
    </sql>

    <!-- 根据编号获得角色 -->
    <select id="get" resultType="com.white.entity.system.SysRole">
        <include refid="selectColumns"/>
        WHERE sr.id = #{id}
    </select>

    <!-- 根据登录名获取用户 -->
    <select id="getRolesByUserId" resultType="com.white.entity.system.SysRole">
        <include refid="selectColumns" />
        LEFT JOIN sys_user_role sur ON sr.id = sur.role_id
        WHERE sur.user_id = #{userId}
    </select>

    <!-- 分页查询菜单信息 -->
    <select id="findList" resultType="com.white.entity.system.SysRole">
        <include refid="selectColumns"/>
        WHERE 1 = 1
        <if test="roleName != null and roleName != ''">
            AND sr.roleName = #{roleName}
        </if>
        <if test="enabled != null">
            AND sr.enabled = #{enabled}
        </if>
    </select>

    <!-- 插入角色 -->
    <insert id="insert">
        INSERT INTO sys_role (
            id,
            roleName,
            enabled,
            create_date,
            update_date,
            remarks
        ) VALUES (
            #{id},
            #{roleName},
            #{enabled},
            #{createDate},
            #{updateDate},
            #{remarks}
        )
    </insert>

    <!-- 更新角色 -->
    <update id="update">
        UPDATE sys_role
        <set>
            roleName = #{roleName},
            enabled = #{enabled},
            update_date = #{updateDate},
            remarks = #{remarks}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除角色 -->
    <update id="deleteById">
        DELETE FROM sys_role
        WHERE id = #{id}
    </update>

</mapper>
