<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.white.mapper.SysUserMapper">

    <sql id="selectColumns">
        SELECT
            su.id,
            su.username,
            su.password,
            su.icon,
            su.userNameCn,
            su.userNameEN,
            su.enabled,
            su.remarks,
            su.create_date,
            su.update_date
        FROM sys_user su
    </sql>

    <!-- 根据用户Id获取用户 -->
    <select id="get" resultType="SysUser">
        <include refid="selectColumns" />
        WHERE su.id = #{id}
    </select>
    <!-- 查询全部用户 -->
    <select id="findAllList" resultType="SysUser">
        <include refid="selectColumns"/>
        WHERE su.del_flag = '0'
        ORDER BY su.create_date
    </select>
    <!-- 分页查询用户信息 -->
    <select id="findList" resultType="SysUser">
        <include refid="selectColumns"/>
        WHERE su.del_flag = '0'
        <if test="username != null and username != ''">
            <!--AND su.username like CONCAT('%', #{username}, '%')-->
            AND su.username = #{username}
        </if>
        <if test="enabled != null">
            AND su.enabled = #{enabled}
        </if>
        ORDER BY su.create_date
    </select>
    <!-- 插入用户 -->
    <insert id="insert">
        INSERT INTO sys_user(id,username,password,icon,userNameCn,userNameEN,enabled,remarks,create_date,update_date)
        VALUES (#{id},#{username},#{password},#{icon},#{userNameCn},#{userNameEn},#{enabled},#{remarks},#{createDate},#{updateDate})
    </insert>
    <!-- 更新用户 -->
    <update id="update">
        UPDATE sys_user
        <set>
            username = #{username},
            <if test="password != null and password != '' ">
                password = #{password},
            </if>
            enabled = #{enabled},
            update_date = #{updateDate},
            remarks = #{remarks}
        </set>
        WHERE id = #{id}
    </update>
    <!-- 删除用户 -->
    <delete id="deleteById">
        DELETE FROM sys_user WHERE id = #{id}
    </delete>


    <!-- 根据登录名获取用户 -->
    <select id="getUserByUserName" resultType="SysUser">
        <include refid="selectColumns" />
        WHERE su.username = #{username}
    </select>
    <!-- 将userId和roleId添加到表中，建立用户与角色的对应关系-->
    <insert id="insertUserAndRole">
        INSERT INTO sys_user_role
            (
              user_id,
              role_id
            ) VALUES (
              #{userId},
              #{roleId}
            )
    </insert>
    <!-- 根据userId删除（用户-角色表）中的全部信息 -->
    <delete id="deleteRoleByUserId">
        DELETE FROM sys_user_role WHERE user_id = #{userId}
    </delete>

</mapper>
