<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout_v1 :: layout_v1(_,~{::link},~{::div},~{::script})">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" th:href="@{/static/AdminLTE-2.3.11/plugins/datepicker/datepicker3.css}">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>角色添加</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 系统管理</a></li>
                <li class="active">角色添加</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-user-plus"></i>
                            <h3 class="box-title">角色添加</h3>
                        </div>
                        <form role="form" th:action="@{/api/role/}" method="post" id="addForm">
                            <div class="box-body">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="id">角色编号</label>
                                        <input type="text" class="form-control" id="id" name="id"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="roleName">角色名</label>
                                        <input type="text" class="form-control" id="roleName" name="roleName"/>
                                    </div>
                                    <div class="form-group">
                                        <label>角色是否可用</label>
                                        <select class="form-control" style="width: 100%;" name="enabled" id="enabled">
                                            <option value="1" selected="selected">是</option>
                                            <option value="0">否</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>创建日期:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right datepicker" id="createDate" name="createDate">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>修改日期:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right datepicker" id="updateDate" name="updateDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="remarks">备注</label>
                                        <textarea rows="5" cols="10" class="form-control" id="remarks" name="remarks"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="button" class="btn btn-primary pull-right" style="margin-left: 5px;" id="btn_add">保 存</button>
                                <button type="button" class="btn btn-primary pull-right" id="btn_menu">分配菜单</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- bootstrap datepicker -->
    <script th:src="@{/static/AdminLTE-2.3.11/plugins/datepicker/bootstrap-datepicker.js}"></script>
    <!-- bootstrap datepicker zh-CN-->
    <script th:src="@{/static/AdminLTE-2.3.11/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js}"></script>
    <!-- 自定义JS-->
    <script th:src="@{/static/system/role/role_add.js}"></script>
</html>